body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 32px;
}

.container {
    display: flex;
    flex-direction: column;
    gap: 5px;
    justify-content: space-evenly;
    align-items: center;
    background-color: gray;
    min-height: 60vh;
    min-width: 25vw;
    box-shadow: 8px 8px 8px;
}

.inputs {
    display: flex;
    gap: 5px;
    flex-wrap: wrap;
    min-height: 25vh;
    min-width: 15vw;
    justify-content: space-between;
}

.numbers {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 8px;
    gap: 10px;
    
}

.operands {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 8px;
}

.firstOperand {
    display: flex;
    justify-content: space-between;
}

.secondOperand {
    display: flex;
    justify-content: space-between;
}

button {
    font-size: 24px;
    width: 6vh;
    height: 6vh;
    border-radius: 30px;
    padding: 2px;
    margin: 2px;
}

.display {
    min-height: 10vh;
    min-width: 80%;
    background-color: rgb(72, 78, 72);
    margin-top: 6px;
    color: white;
}

p {
    margin: 0;
    text-align: end;
    padding-right: 10px;
}

.operator {
    background-color: orange;
}

.clear, .delete {
    background-color: rgb(194, 194, 194);
}

@media (max-width: 576px) {
    button {
        font-size: 18px;
        padding: 0;
    }
}